<div class="row">
  <div class="column" style="background-color:#333;">
    <router-outlet></router-outlet>
    <p style="background-color: #fff;"><cite><a href="http://www.smashingmagazine.com/2015/09/making-svg-maps-from-natural-earth-data/">smashingmagazine</a></cite> SVG Maps From Natural Earth Data</p>
  </div>
  <div class="column" style="background-color:#fff; height:326px;">
    <h1>Information by Country</h1>
    <p><b>Country:</b> {{Name}}</p>
    <p><b>Capital:</b> {{Capital}}</p>
    <p><b>Region:</b> {{Region}}</p>
    <p><b>Income Level:</b> {{IncomeLevel}}</p>
    <p><b>Latitude:</b> {{Latitude}}</p>
    <p><b>Longitude:</b> {{Longitude}}</p>
  </div>
</div>



